/* link google fonts  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

/* VARIABLES  */
:root {
    --main-color: #001f3f; /* Dark Blue */
    --sec-color: #001a33;  /* A slightly lighter shade of blue */
    --dark-color: #000000; /* Black */
    --light-color: #f3f3f3; /* Light Grey */
}

body {
    background: linear-gradient(to bottom, var(--main-color), var(--dark-color));
    color: var(--light-color);
}

/* Additional styling based on your design requirements


/* ================= Form ================== */
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(to bottom, var(--main-color), var(--light-color));
    color: var(--light-color);
}

.container{
    width: 375px;
    background-color: var(--light-color);
    color: var(--dark-color);
    border-radius: 15px;
    text-align: center;
    padding: 50px 35px 10px 35px;
    box-shadow: 1px 1px 5px var(--main-color);
}

.container header{
    font-size: 35px;
    font-weight: 600;
    margin: 0 0 30px 0;
}

.container .form-outer{
    width: 100%;
    overflow: hidden;
}

form{
    display: flex;
    width: 400%;
}

form .slide{
    width: 25%;
    transition: all .5s ease-in-out;
}

form .slide .title{
    text-align: left;
    font-size: 25px;
    font-weight: 500;
}

form .slide .field{
    height: 45px;
    width: 100%;
    margin: 45px 0;
    position: relative;
    display: flex;
}

form .slide .field .label{
    position: absolute;
    top: -30px;
    left: 10px;
    font-weight: 500;
}

form .slide .field input{
    height: 100%;
    width: 100%;
    border: 1px solid var(--main-color);
    border-radius: 15px;
    font-size: 18px;
    padding: 15px;
    display: flex;
    align-items: center;
}

form .slide .field input:focus{
    outline: none;
    border: 2px solid var(--sec-color);
}

form .slide select{
    width: 100%;
    padding-left: 10px;
    font-size: 17px;
    font-weight: 500;
}

form .slide .field button{
    width: 100%;
    height: calc(100% + 5px);
    margin-top: -20px;
    border: none;
    background-color: var(--main-color);
    color: var(--light-color);
    border-radius: 15px;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    transition: all .5s ease;
}
form .slide .field button:hover{
    background-color: var(--sec-color);
}

form .slide .btns{
    display: flex;
    column-gap: 5px;
}

.container .progress-bar{
    display: flex;
    margin: 40px 0 15px 0;
}

.container .progress-bar .step{
    width: 100%;
    text-align: center;
}

.container .progress-bar .step .name{
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 8px;
}

.container .progress-bar .step .number{
    height: 25px;
    width: 25px;
    border: 2px solid var(--dark-color);
    margin: auto;
    border-radius: 50%;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.container .progress-bar .step .number::before{
    position: absolute;
    content: "";
    width: 30px;
    height: 3px;
    right: -40px;
    background-color: var(--dark-color);
}
.container .progress-bar .step:last-child .number::before{
    display: none;
}

.container .progress-bar .step i{
    font-size: 20px;
    opacity: 0;
}

/* ----------- Passed Step ----------- */
.container .progress-bar .step.passed .name{
    color: var(--sec-color);
}

.container .progress-bar .step.passed .number{
    background-color: var(--sec-color);
    border: 2px solid var(--main-color);
    color: var(--light-color);
}

.container .progress-bar .step.passed i{
    color: var(--main-color);
    opacity: 1;
}

.container .progress-bar .step.passed .number::before{
    background-color: var(--main-color);
}